<?xml version="1.0"?>
<ruleset name="WordPress Plugin Coding Standards">

	<description>A custom set of code standard rules to check for WordPress plugin.</description>

	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<arg value="ps" />

	<arg name="basepath" value="./" />

	<arg name="parallel" value="8"/>

	<config name="minimum_supported_wp_version" value="5.2" />
	<config name="testVersion" value="7.4-" />

	<arg name="extensions" value="php"/>

	<rule ref="Generic.Commenting"/>

	<rule ref="WordPress" />

	<rule ref="WordPress-VIP-Go" />	

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="easy-ai"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="Easy_AI" />
		</properties>
	</rule>

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
	<exclude-pattern>/src/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>src/</exclude-pattern>
	</rule>

</ruleset>